.App {
  text-align: center;
}

.header {
  Background: #ffbbd0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;

}

.filter {
  padding-top: 12vh;
  position: center;
  display: flex;
  flex-direction: row;
}

.products {
  position: center;
  display: flex;
  flex-direction: row;
  width: 35vw;
}

button {
  margin: 10%;
  height: 5vh;
}

.cart {
  /* padding-top: 12vh; */
  position: center;

}

.remove {
  float: right;
}