.App {
  text-align: center;
}




.header {
  Background: #ffbbd0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;

}

.filter {
  padding-top: 12vh;

}

.products {
  display: flex;
  flex-direction: row;
}

button {
  margin: 5%;
  height: 5vh;
}